<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>jobbie</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div class="vh-100 d-flex justify-content-center align-items-center">
    <div>
      <div class="mb-4 text-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="text-danger" width="75" height="75" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
          <path d="M8 0C3.582 0 0 3.582 0 8s3.582 8 8 8 8-3.582 8-8-3.582-8-8-8zm4.95 11.536a.25.25 0 0 1 0 .354l-1.414 1.414a.25.25 0 0 1-.354 0L8 9.414l-3.182 3.182a.25.25 0 0 1-.354 0L2.05 11.89a.25.25 0 0 1 0-.354L5.232 8 2.05 4.818a.25.25 0 0 1 0-.354L3.464 3.05a.25.25 0 0 1 .354 0L8 6.586l3.182-3.182a.25.25 0 0 1 .354 0l1.414 1.414a.25.25 0 0 1 0 .354L10.586 8l3.182 3.182z" />
        </svg>
      </div>
      <div class="text-center">
        <h1>Oops !</h1>
        <p>Your payment has been cancelled</p>
        <button class="btn btn-primary">Back Home</button>
      </div>
    </div>
</body>

</html>