<%-include('../common/header');-%>
<%-include('../common/sidebar');-%>

<div class="main-content">
  <div class="form-group col-12"> 
    <section class="section">
      <div class="section-header">
        <h1> Add User</h1>
      </div>
      <div class="card">
        <div class="card-body">
          <form action="/signup" enctype="multipart/form-data" id="addForm" method="post">
            <div class="row">
              <div class="form-group col-6 floating-addon">
                <label for="name">First Name</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-user"></i>
                    </div>
                  </div>
                </div>
                <input id="name" type="text" class="form-control" name="firstname" placeholder="First Name"required>
              </div>
              <div class="form-group col-6 floating-addon">
                <label for="name">Last Name</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-user"></i>
                    </div>
                  </div>
                </div>
                <input id="name" type="text" class="form-control" name="lastname" placeholder="Last Name"required>
              </div>
              <div class="form-group col-12 floating-addon">
              <label for="email">Email</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fas fa-envelope"></i>
                  </div>
                </div>
              </div>
              <input id="email" type="text" class="form-control" name="email" placeholder="@example.com"required>
              <div class="invalid-feedback">
              </div>
              </div>
              <div class="form-group col-12 floating-addon">
                <label for="password" class="d-block">Password</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-key"></i>
                    </div>
                  </div>
                  </div>
                <input id="password" type="password" class="form-control pwstrength" data-indicator="pwindicator" name="password" placeholder="Password" required>
                <div id="pwindicator" class="pwindicator">
                </div>
              </div>
                <div class="form-group col-12 floating-addon">
                  <label>Phone</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="fas fa-phone"></i>
                      </div>
                    </div>
                    </div>
                  <input type="number" class="form-control" name="phone" placeholder="Phone" required>
                </div>
                <div class="form-group col-12 floating-addon">
                  <label for="name">Bio </label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="fas fa-pen"></i>
                      </div>
                    </div>
                  </div>
                  <input id="name" type="text" class="form-control" name="bio" placeholder="Bio"required>
                </div>
                <div class="form-group col-12 floating-addon">
                  <label for="password" class="d-block">Location</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="fas fa-map-marker"></i>
                        </div>
                      </div>
                    </div>
                      <input id="name" type="text" class="form-control" name="location" placeholder="Location"required>
                </div>
                <div class="form-group col-6">
                  <label> Upload Image </label>
                  <input type="file" name="image" value="" id="imgInp" class="form-control" required>
                </div>
              </div>
                <button type="submit" class="btn btn-info" >
                Submit
              </button>
          </form>
        </div>
      </div>
  </section>
</div>
</div>
 

<%- include('../common/footer'); -%>

<style>
  .error {
color: red !important;
}
</style>

<script>
  $(document).ready(function() {

    jQuery.validator.addMethod("noSpace", function(value, element) {
        return value == '' || value.trim().length != 0;
      },

      jQuery.validator.addMethod("emailExt", function(value, element, param) {
        return value.match(/^[a-zA-Z0-9_\.%\+\-]+@[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,}$/);
      }, 'Your e-mail is wrong'),


      $('form[id="addForm"]').validate({


        keypress: function(element) {

          var element_id = $(element).attr('id');
          if (this.settings.rules[element_id].keypress !== false) {
            $(element).valid();
          }
        },

        rules: {
          firstname: {
            required: true,
            noSpace: true,
            maxlength: 20
          },
          lastname: {
            required: true,
            noSpace: true,
            maxlength: 20
          },
          email: {
            required: true,
            emailExt: true,
          },
          password: {
            required: true,
            minlength: 5,
            maxlength: 12
          },
          phone: {
            required: true,
            minlength: 10,
            maxlength: 12
          },
          location: {
            required: true,
            maxlength: 100
          },
          bio: {
            required: true,
            maxlength: 30
          },
          
        },
        messages: {

          firstname: {
            required: "This field is required.",
            noSpace: "Space not allowed",
            maxlength: "First name should be 10 charcater"
          },

          lastname: {
            required: "This field is required.",
            noSpace: "Space not allowed",
            maxlength: "First name should be 10 charcater"
          },

          email: {
            required: "This field is required.",
            noSpace: "Space not allowed",
           
          },
          phone: {
            required: "This field is required.",
            noSpace: "Space not allowed",
            maxlength: "Phone number should be 10 charcater"
          },
          location: {
            required: "This field is required.",
            noSpace: "Space not allowed",
            maxlength: "First name should be 100 charcater"
          },
          bio: {
            required: "This field is required.",
            noSpace: "Space not allowed",
            maxlength: "First name should be 20 charcater"
          },
         
        },
        submitHandler: function(form) {
          form.submit();
        }
      }));
  });
</script>

